
.article__title {
    @extend .font--secondary;
}

.article__date {
    @extend .font--body;
}

.media__writer-data {
    color: $gray-600;
}

.article__like {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    color: $primary;
}

.article__video {
    &::before {
        padding-top: 37.5%;
    }
}