.featured-article__main {
    @include bg-dark($gray-900, $white);
    height: 100vh;
    overflow:hidden;
    & > .row {
        height: 100%;
    }
    .link,
    .btn {
        color: $white;
    }
}

.bg {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.bg__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow-x: hidden;
}

.featured-article__date {
    @extend .font--sm;
}

.featured-articles__secondaries {
    @include bg-dark($gray-900, $white);
    & > .row {
        height: 100%;
    }
    .link,
    .btn {
        color: $white;
    }
}

@include media-breakpoint-up(lg) {
    .featured-articles {
        height: 100vh;
        & > .row {
            height: 100%;
        }
    }
}