body {
    @extend .font--secondary;
    @extend .font--body;
    background-color: $gray-200;
}
p {
    @extend .font--primary;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
    margin-bottom: .5rem;
}

a {
    &:hover,
    &:focus,
    &:active {
        color: $primary;
    }
}