.font--primary {
    font-family: 'Open Sans', sans-serif;
}

.font--secondary {
    font-family: 'Muli', sans-serif;
}

.font--sm {
    font-size: $font-size-sm;
}

.font--body {
    font-size: $font-size-base;
}

.font--lg {
    font-size: $font-size-lg;
}

.font--bigger {
    font-size: ($font-size-base * 2);
}