<%= require('html-loader!./partials/header.html') %>
    <main>
        <div class="container-fluid featured-articles mb-4">
            <div class="row">

                <article class="col-lg-8 article featured-article__main px-5 py-4" data-like="false">
                    <div class="row align-items-end">
                        <div class="col-lg-7">
                            <a class="link" href="/article.html"><h2 class="article__title text-uppercase">How to eliminate (or deal with) hidden dependencies</h2></a>
                            <div class="media mt-3 mb-2">
                                <div class="media__pic mr-2"></div>
                                <div class="media-body">
                                    <time class="article__date d-block" datetime="2018-03-12T00:51:10"></time>
                                    <div class="article-info__name">Nombre Apellido</div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facilis hic unde, libero ex id. Soluta itaque nisi voluptatibus, doloribus</p>
                            <a class="link mr-1" href=""><i class="fas fa-comment"></i> 1</a>
                            <button class="btn btn-link article__like"><i class="far fa-heart"></i>
                                <!-- <i class="fas fa-heart"></i> --></button>
                        </div>
                    </div>
                </article>

                <div class="col-lg-4 featured-articles__secondaries px-sm-5 py-4">
                    <div class="row align-content-end flex-wrap">
                        <article class="col-md-6 col-lg-12 article featured-article mb-4" data-like="false">

                            <img class="img-fluid mb-3" src="<%= require('../assets/img/art-2-lg.jpg') %>" alt="">

                            <a class="link" href="/article.html"><h2 class="article__title font--body text-uppercase">How to eliminate (or deal with) hidden dependencies</h2></a>
                            <div class="media mt-3 mb-2">
                                <div class="media__pic mr-2"></div>
                                <div class="media-body">
                                    <time class="article__date d-block" datetime="2018-03-10T01:12:10"></time>
                                    <div class="article-info__name">Nombre Apellido</div>
                                </div>
                            </div>
                            <a class="link mr-1" href=""><i class="fas fa-comment"></i> 1</a>
                            <button class="btn btn-link article__like"><i class="far fa-heart"></i></button>
                        </article>
                        <article class="col-md-6 col-lg-12 article featured-article" data-like="false">
                            <img class="img-fluid mb-3" src="<%= require('../assets/img/art-2-lg.jpg') %>" alt="">
                            <a class="link" href="/article.html"><h2 class="article__title font--body text-uppercase">How to eliminate (or deal with) hidden dependencies</h2></a>
                            <div class="media mt-3 mb-2">
                                <div class="media__pic mr-2"></div>
                                <div class="media-body">
                                    <time class="article__date d-block" datetime="2018-03-07T05:51:10"></time>
                                    <div class="article-info__name">Nombre Apellido</div>
                                </div>
                            </div>
                            <a class="link mr-1" href=""><i class="fas fa-comment"></i> 1</a>
                            <button class="btn btn-link article__like"><i class="far fa-heart"></i></button>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <article class="article col-md-6 col-lg-4 mb-4" data-like="false">
                    <div class="card">
                        <img class="img-fluid mb-3" src="<%= require('../assets/img/art-2-lg.jpg') %>" alt="">
                        <div class="card-body">
                            <a class="link" href="/article.html"><h2 class="article__title font--body text-uppercase">How to eliminate (or deal with) hidden dependencies</h2></a>
                            <div class="media mt-3 mb-2">
                                <div class="media__pic mr-2"></div>
                                <div class="media-body">
                                    <time class="article__date d-block" datetime="2018-03-01T05:51:10"></time>
                                    <div class="article-info__name">Nombre Apellido</div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facilis hic unde, libero ex id. Soluta itaque nisi voluptatibus, doloribus</p>
                            <a class="link mr-1" href=""><i class="fas fa-comment"></i> 1</a>
                            <button class="btn btn-link article__like"><i class="far fa-heart"></i></button>
                        </div>
                    </div>
                </article>
                <article class="article col-md-6 col-lg-4 mb-4" data-like="false">
                    <div class="card">

                        <div class="embed-responsive article__video mb-3">
                            <video class="embed-responsive-item" src="<%= require('../assets/video/video.mp4') %>"></video>
                        </div>

                        <div class="card-body">
                            <a class="link" href="/article.html"><h2 class="article__title font--body text-uppercase">How to eliminate (or deal with) hidden dependencies</h2></a>
                            <div class="media mt-3 mb-2">
                                <div class="media__pic mr-2"></div>
                                <div class="media-body">
                                    <time class="article__date d-block" datetime="2018-02-28T05:51:10"></time>
                                    <div class="article-info__name">Nombre Apellido</div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facilis hic unde, libero ex id. Soluta itaque nisi voluptatibus, doloribus</p>
                            <a class="link mr-1" href=""><i class="fas fa-comment"></i> 1</a>
                            <button class="btn btn-link article__like"><i class="far fa-heart"></i></button>
                        </div>
                    </div>
                </article>
                <article class="article col-md-6 col-lg-4 mb-4" data-like="false">
                    <div class="card">
                        <img class="img-fluid mb-3" src="<%= require('../assets/img/art-2-lg.jpg') %>" alt="">
                        <div class="card-body">
                            <a class="link" href="/article.html"><h2 class="article__title font--body text-uppercase">How to eliminate (or deal with) hidden dependencies</h2></a>
                            <div class="media mt-3 mb-2">
                                <div class="media__pic mr-2"></div>
                                <div class="media-body">
                                    <time class="article__date d-block" datetime="2018-02-25T05:51:10"></time>
                                    <div class="article-info__name">Nombre Apellido</div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facilis hic unde, libero ex id. Soluta itaque nisi voluptatibus, doloribus</p>
                            <a class="link mr-1" href=""><i class="fas fa-comment"></i> 1</a>
                            <button class="btn btn-link article__like"><i class="far fa-heart"></i></button>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </main>
    <%= require('html-loader!./partials/footer.html') %>