<div id="article-comments" class="pt-8">
    <h2 class="mb-5">Deja un comentario</h2>
    <form action="">
        <div class="form-group">
            <label for="">Nombre</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input class="form-control" type="email">
        </div>
        <div class="form-group">
            <label for="">Mensaje</label>
            <textarea class="form-control" name=""></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <h2 class="my-5">Comentarios</h2>
    <ul class="comments-list list-unstyled">
        <li class="comments-list__item">
            <div class="media mt-3 mb-4">
                <div class="media__pic mr-2"></div>
                <div class="media-body">
                    <div class="article-info__name">Nombre Apellido</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae reiciendis incidunt eveniet error aliquam qui, non sequi laborum eligendi minima deleniti. In enim explicabo quisquam qui saepe dignissimos perferendis consequuntur.</p>
                    <button type="button" class="btn btn-outline-primary btn-xs">Responder</button>
                </div>
            </div>
            <ul class="list-unstyled">
                <li class="comments-list__item">
                    <div class="media mt-3 mb-4">
                        <div class="media__pic mr-2"></div>
                        <div class="media-body">
                            <div class="article-info__name">Nombre Apellido</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae reiciendis incidunt eveniet error aliquam qui, non sequi laborum eligendi minima deleniti. In enim explicabo quisquam qui saepe dignissimos perferendis consequuntur.</p>
                            <button type="button" class="btn btn-outline-primary btn-xs">Responder</button>
                        </div>
                    </div>
                </li>
                <li class="comments-list__item">
                    <div class="media mt-3 mb-4">
                        <div class="media__pic mr-2"></div>
                        <div class="media-body">
                            <div class="article-info__name">Nombre Apellido</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae reiciendis incidunt eveniet error aliquam qui, non sequi laborum eligendi minima deleniti. In enim explicabo quisquam qui saepe dignissimos perferendis consequuntur.</p>
                            <button type="button" class="btn btn-outline-primary btn-xs">Responder</button>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="comments-list__item">
            <div class="media mt-3 mb-4">
                <div class="media__pic mr-2"></div>
                <div class="media-body">
                    <div class="article-info__name">Nombre Apellido</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae reiciendis incidunt eveniet error aliquam qui, non sequi laborum eligendi minima deleniti. In enim explicabo quisquam qui saepe dignissimos perferendis consequuntur.</p>
                    <button type="button" class="btn btn-outline-primary btn-xs">Responder</button>
                </div>
            </div>
        </li>
    </ul>
</div>