<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
  </head>
  <body>

    <header class="site-header navbar navbar-expand-md fixed-top justify-content-between align-items-center">

        <a class="home-btn btn btn-link" href="/">
            <svg height='50' width='50' fill="#ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><path d="M886.9,268l-379.4-219c-4.6-2.7-10.4-2.7-15,0L113.1,268c-4.6,2.7-7.5,7.6-7.5,13V719c0,5.4,2.9,10.3,7.5,13l379.4,219 c2.3,1.3,4.9,2,7.5,2s5.2-0.7,7.5-2l379.4-219c4.6-2.7,7.5-7.6,7.5-13l0-438.1C894.4,275.6,891.5,270.7,886.9,268z M864.4,692.9 l-153.7-89.7l153.7-266.2L864.4,692.9z M500,311.2l162.4,281.3l-324.8,0L500,311.2z M310.4,579.6L146.6,296h327.6L310.4,579.6z M664.9,622.5L500,908.1L335.1,622.5L664.9,622.5z M525.8,296h327.6L689.6,579.6L525.8,296z M515,266V87.9L823.4,266H515z M485,266 H176.6L485,87.9V266z M289.3,603.2l-153.7,89.7v-356L289.3,603.2z M304.3,629.1L459,897.1L150.5,719L304.3,629.1z M695.7,629.1  L849.5,719L541,897.1L695.7,629.1z"></path></svg>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <nav class="nav mx-md-4 my-3 my-md-0 flex-column flex-md-row">
                <a class="link nav-link pl-0" href="#">Technology</a>
                <a class="link nav-link pl-0" href="#">Culture</a>
                <a class="link nav-link pl-0" href="#">Design</a>
                <a class="link nav-link pl-0" href="#">More</a>
            </nav>
            <form class="site-header__search mt-4 mt-md-0 mb-5 mb-md-0 " action="">
                <input class="input mr-2" type="search">
                <button class="btn btn-sm btn-outline-light">Buscar</button>
            </form>
            <ul class="nav ml-auto my-4 my-md-0">
                <li class="mr-4"><a class="link" href="#">Login</a></li>
                <li><a class="link" href="#">Registro</a></li>
            </ul>
        </div>

    </header>